In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv('hypothyroid.csv')
data.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source',
       'binaryClass'],
      dtype='object')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   object
 1   sex                        3772 non-null   object
 2   on thyroxine               3772 non-null   object
 3   query on thyroxine         3772 non-null   object
 4   on antithyroid medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid surgery            3772 non-null   object
 8   I131 treatment             3772 non-null   object
 9   query hypothyroid          3772 non-null   object
 10  query hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH measured               3772 non-null   object
 17  TSH                        3772 non-null   object
 18  T3 measured                3772 non-null   object
 19  T3                         3772 non-null   object
 20  TT4 measured               3772 non-null   object
 21  TT4                        3772 non-null   object
 22  T4U measured               3772 non-null   object
 23  T4U                        3772 non-null   object
 24  FTI measured               3772 non-null   object
 25  FTI                        3772 non-null   object
 26  TBG measured               3772 non-null   object
 27  TBG                        3772 non-null   object
 28  referral source            3772 non-null   object
 29  binaryClass                3772 non-null   object
dtypes: object(30)
memory usage: 884.2+ KB

In [4]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
for x in data.columns:
    data[x]=enc.fit_transform(data[x])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   int32
 1   sex                        3772 non-null   int32
 2   on thyroxine               3772 non-null   int32
 3   query on thyroxine         3772 non-null   int32
 4   on antithyroid medication  3772 non-null   int32
 5   sick                       3772 non-null   int32
 6   pregnant                   3772 non-null   int32
 7   thyroid surgery            3772 non-null   int32
 8   I131 treatment             3772 non-null   int32
 9   query hypothyroid          3772 non-null   int32
 10  query hyperthyroid         3772 non-null   int32
 11  lithium                    3772 non-null   int32
 12  goitre                     3772 non-null   int32
 13  tumor                      3772 non-null   int32
 14  hypopituitary              3772 non-null   int32
 15  psych                      3772 non-null   int32
 16  TSH measured               3772 non-null   int32
 17  TSH                        3772 non-null   int32
 18  T3 measured                3772 non-null   int32
 19  T3                         3772 non-null   int32
 20  TT4 measured               3772 non-null   int32
 21  TT4                        3772 non-null   int32
 22  T4U measured               3772 non-null   int32
 23  T4U                        3772 non-null   int32
 24  FTI measured               3772 non-null   int32
 25  FTI                        3772 non-null   int32
 26  TBG measured               3772 non-null   int32
 27  TBG                        3772 non-null   int32
 28  referral source            3772 non-null   int32
 29  binaryClass                3772 non-null   int32
dtypes: int32(30)
memory usage: 442.2 KB

In [5]:
data

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,34,1,0,0,0,0,0,0,0,0,...,1,28,1,72,1,10,0,0,1,1
1,15,1,0,0,0,0,0,0,0,0,...,1,3,0,146,0,234,0,0,4,1
2,40,2,0,0,0,0,0,0,0,0,...,1,10,1,48,1,22,0,0,4,1
3,67,1,1,0,0,0,0,0,0,0,...,1,83,0,146,0,234,0,0,4,1
4,67,1,0,0,0,0,0,0,0,0,...,1,201,1,44,1,199,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,22,1,0,0,0,0,0,0,0,0,...,0,241,0,146,0,234,0,0,4,1
3768,64,1,0,0,0,0,0,0,0,0,...,1,27,1,66,1,16,0,0,3,1
3769,71,1,0,0,0,0,0,0,0,0,...,1,14,1,65,1,6,0,0,4,1
3770,69,2,0,0,0,0,0,0,0,0,...,1,222,1,51,1,219,0,0,3,1
3771,60,1,0,0,0,0,0,0,0,0,...,1,240,1,65,1,226,0,0,4,1

In [6]:
data=data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3711 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3711 non-null   int32
 1   sex                        3711 non-null   int32
 2   on thyroxine               3711 non-null   int32
 3   query on thyroxine         3711 non-null   int32
 4   on antithyroid medication  3711 non-null   int32
 5   sick                       3711 non-null   int32
 6   pregnant                   3711 non-null   int32
 7   thyroid surgery            3711 non-null   int32
 8   I131 treatment             3711 non-null   int32
 9   query hypothyroid          3711 non-null   int32
 10  query hyperthyroid         3711 non-null   int32
 11  lithium                    3711 non-null   int32
 12  goitre                     3711 non-null   int32
 13  tumor                      3711 non-null   int32
 14  hypopituitary              3711 non-null   int32
 15  psych                      3711 non-null   int32
 16  TSH measured               3711 non-null   int32
 17  TSH                        3711 non-null   int32
 18  T3 measured                3711 non-null   int32
 19  T3                         3711 non-null   int32
 20  TT4 measured               3711 non-null   int32
 21  TT4                        3711 non-null   int32
 22  T4U measured               3711 non-null   int32
 23  T4U                        3711 non-null   int32
 24  FTI measured               3711 non-null   int32
 25  FTI                        3711 non-null   int32
 26  TBG measured               3711 non-null   int32
 27  TBG                        3711 non-null   int32
 28  referral source            3711 non-null   int32
 29  binaryClass                3711 non-null   int32
dtypes: int32(30)
memory usage: 463.9 KB

In [7]:
data.describe()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
count,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,...,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.0,3711.0,3711.000000,3711.000000
mean,46.493937,1.266505,0.125034,0.013473,0.011318,0.039612,0.014282,0.014282,0.015899,0.063056,...,0.953921,119.133118,0.911884,64.854756,0.912423,108.715980,0.0,0.0,3.267583,0.921584
std,20.863642,0.525220,0.330802,0.115306,0.105795,0.195072,0.118666,0.118666,0.125100,0.243096,...,0.209685,98.238113,0.283502,31.330172,0.282718,97.032357,0.0,0.0,1.097079,0.268861
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,28.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,21.000000,1.000000,46.000000,1.000000,17.000000,0.0,0.0,3.000000,1.000000
50%,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,79.000000,1.000000,57.000000,1.000000,56.000000,0.0,0.0,4.000000,1.000000
75%,63.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,226.000000,1.000000,71.000000,1.000000,221.000000,0.0,0.0,4.000000,1.000000
max,93.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,241.000000,1.000000,146.000000,1.000000,234.000000,0.0,0.0,4.000000,1.000000

In [8]:
# data['age']=(data['age']-data['age'].min())/(data['age'].max()-data['age'].min())
# data['TT4']=(data['TT4']-data['TT4'].min())/(data['TT4'].max()-data['TT4'].min())
# data['T4U']=(data['T4U']-data['T4U'].min())/(data['T4U'].max()-data['T4U'].min())
# data['FTI']=(data['FTI']-data['FTI'].min())/(data['FTI'].max()-data['FTI'].min())

In [9]:
data

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,34,1,0,0,0,0,0,0,0,0,...,1,28,1,72,1,10,0,0,1,1
1,15,1,0,0,0,0,0,0,0,0,...,1,3,0,146,0,234,0,0,4,1
2,40,2,0,0,0,0,0,0,0,0,...,1,10,1,48,1,22,0,0,4,1
3,67,1,1,0,0,0,0,0,0,0,...,1,83,0,146,0,234,0,0,4,1
4,67,1,0,0,0,0,0,0,0,0,...,1,201,1,44,1,199,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,22,1,0,0,0,0,0,0,0,0,...,0,241,0,146,0,234,0,0,4,1
3768,64,1,0,0,0,0,0,0,0,0,...,1,27,1,66,1,16,0,0,3,1
3769,71,1,0,0,0,0,0,0,0,0,...,1,14,1,65,1,6,0,0,4,1
3770,69,2,0,0,0,0,0,0,0,0,...,1,222,1,51,1,219,0,0,3,1
3771,60,1,0,0,0,0,0,0,0,0,...,1,240,1,65,1,226,0,0,4,1

In [10]:
y=data['binaryClass']
x=data.drop(['binaryClass'],axis=1)

In [11]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.1,stratify=y)
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(3339, 29)
(372, 29)
(3339,)
(372,)

In [12]:
from xgboost import XGBClassifier
xgb_clf=XGBClassifier()
xgb_clf.fit(xtrain,ytrain)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [13]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
predictions= xgb_clf.predict(xtest)
percentage=xgb_clf.score(xtest,ytest)
res=confusion_matrix(ytest,predictions)
print("validation confusion matrix")
print(res)
print(classification_report(ytest, predictions))
# check the accuracy on the training set
print('training accuracy = '+str(xgb_clf.score(xtrain, ytrain)*100))
print('testing accuracy = '+str(xgb_clf.score(xtest, ytest)*100))
accuracy = accuracy_score(ytest, xgb_clf.predict(xtest))
print(accuracy)

validation confusion matrix
[[ 28   1]
 [  2 341]]
              precision    recall  f1-score   support

           0       0.93      0.97      0.95        29
           1       1.00      0.99      1.00       343

    accuracy                           0.99       372
   macro avg       0.97      0.98      0.97       372
weighted avg       0.99      0.99      0.99       372

training accuracy = 100.0
testing accuracy = 99.19354838709677
0.9919354838709677

Since the model has performed well on the test set, it doesnt require any hyperparameter tuning.

In [14]:
test_query=xtest.iloc[59].values.reshape(1,-1)
test_query

array([[49,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         1,  1,  1, 38,  1, 47,  1, 81,  1, 17,  0,  0,  4]])

In [15]:
result=xgb_clf.predict(test_query)
print(result)

if result==0:
    print('negative')
else:
    print('positive')

[1]
positive

In [16]:
import pickle

with open('model1.pkl','wb') as f:
    pickle.dump(xgb_clf,f)